.circle {
    font-weight: bolder;

    --p: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 8px;
    border: 3px solid black;

    /* border thickness */
    background:
        conic-gradient(red 0% calc(var(--p) * 1%),
            rgb(143, 38, 38) calc(var(--p) * 1%));

    /* Make inside transparent */
    -webkit-mask:
        radial-gradient(farthest-side, transparent calc(100% - 15px), #000 calc(100% - 15px));
    mask:
        radial-gradient(farthest-side, transparent calc(100% - 15px), #000 calc(100% - 15px));


    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.45);
}



.circle:hover {
    cursor: pointer;
}

.circletext {
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s ease;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.circle:hover .circletext {
    opacity: 1;
}

.nav a:hover {
    color: aqua;
}